APP_URL=https://invoices.yourdomain.com
APP_KEY=base64:randomstring
DB_TYPE=mysql
DB_STRICT=false
DB_HOST=db
DB_DATABASE=ninja
DB_USERNAME=ninja
DB_PASSWORD=your-db-password
MYSQL_ROOT_PASSWORD=your-root-password
IN_USER_EMAIL=your-email
IN_PASSWORD=your-password
TRUSTED_PROXIES=*
REQUIRE_HTTPS=true