services:
  homey-shs:
    image: ghcr.io/athombv/homey-shs:latest
    container_name: homey-shs
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - PORT_SERVER_HTTP=${PORT_SERVER_HTTP}
      - PORT_SERVER_HTTPS=${PORT_SERVER_HTTPS}
    privileged: true
    volumes:
      - /home/taufiq/docker/homey:/homey/user